<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">

        <a class="navbar-brand" href="#">WINGXEL</a>

        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 me-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'index_page' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#" id="create">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#" id="update">Update</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#" id="delete">Delete</a>
                </li>
            </ul>

            <form class="d-flex mx-auto" id="search-form" method="GET" action="/search">
                <input class="form-control me-2 bg-dark text-light" type="search" value="{{ query }}" name="q" id="search" placeholder="Search" aria-label="Search" required>
                <input type="submit" value="Search" class="btn btn-outline-light">
            </form>

            <ul class="navbar-nav mb-2 ms-auto mb-lg-0">
                <li class="nav-item">
                    <a href="#" class="nav-link text-light">Login</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-light">Logout</a>
                </li>
            </ul>
        </div>

    </div>
</nav>