{% extends 'app/base/base.html' %}

{% load static %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'app/css/app.css' %}">
{% endblock %}

{% block body %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <hr>
                    <h3>The following is the user info</h3>
                    <hr>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>ID</th>
                                <th>USERNAME</th>
                                <th>EMAIL</th>
                            </tr>
                            {% for user_item in user_info %}
                                <tr>
                                    <td>{{ user_item.id }}</td>
                                    <td>{{ user_item.username }}</td>
                                    <td>{{ user_item.email }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div>
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <input type="email" name="Email" id="email" class="form-control" placeholder="Enter your email address" required/>
                            </div>
                            
                            <div class="form-group">
                                <input type="text" name="Username" id="username" class="form-control" placeholder="Enter your username" required/>
                            </div>
                            
                            <button id="add_another_record" class="btn btn-primary">ADD</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}