{% extends 'app/base/base.html' %}

{% load static %}

{% block page_js %}
    <script src="{% static 'app/js/app.js' %}"></script>
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'app/css/app.css' %}">
{% endblock %}

{% block body %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    
                    <form class="d-none">
                        {% csrf_token %}
                    </form>

                    <div class="AddForm">
                        <form role="form" class="form-horizontal" id="add_form">
                            <div class="form-group">
                                <input type="text" name="Username" id="username" class="form-control" placeholder="Enter your username" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="Email" id="email" class="form-control" placeholder="Enter your email address" required>
                            </div>
                            
                            <button id="add_another_record" class="btn btn-primary">ADD</button>
                        </form>
                    </div>
                    <div class="DeleteForm">
                        <form role="form" class="form-holizontal" id="delete_form">
                            <div class="form-group">
                                <input type="number" name="ID" id="id" class="form-control" placeholder="Enter ID of the record to delete" required>
                            </div>
                            <button id="delete_record" class="btn btn-primary">Delete</button>
                        </form>
                    </div>
                    <div class="UpdateForm" id="update_form">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <input type="number" name="Update_id" id="update_id" class="form-control" placeholder="Enter record ID" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="Update_uname" id="update_uname" class="form-control" placeholder="Enter new username">
                            </div>
                            <div class="form-group">
                                <input type="email" name="Update_email" id="update_email" class="form-control" placeholder="Enter new email">
                            </div>
                            <button class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-8">
                    <hr>
                    <h3>The following is the user info</h3>
                    <hr>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>ID</th>
                                <th>USERNAME</th>
                                <th>EMAIL</th>
                            </tr>
                            {% for user_item in user_info %}
                                <tr>
                                    <td>{{ user_item.id }}</td>
                                    <td>{{ user_item.username }}</td>
                                    <td>{{ user_item.email }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}