input {
    margin-bottom: 10px;
}

.AddForm, .DeleteForm, .UpdateForm {
    margin-top: 20px;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

main {
    margin-top: 65px;
}

.DeleteForm, .UpdateForm {
    display: none;
}

@media all and (min-width: 992px) {
    .nav-link:hover {
        background-color: rgb(88, 90, 87);
        border-radius: 10px;
    }
    .nav-link:active {
        background-color: rgb(0, 255, 170);
    }
}
